

html {
    font-family: sans-serif;
    min-height: 100%;
}

body {
    background-color: #8d9bac;
    max-width: 2200px;
    margin: 0 auto;
}

#login {
    min-width: 400px;
    max-width: 700px;
    background: white;
    border-radius: 4px;
    border: 1.5px solid #333;
    margin: 40px auto;
}

#login h2 {
    text-align: center;
}

#login a {
    display: block;
    border-radius: 4px;
    margin: 5px auto;
    text-align: center;
    background: white;
    width: 40%;
}

#login a>img {
    width: 100%;
    border-radius: 4px;
    background: white;
    transition: background 200ms linear;
    box-shadow: 0px 0px 1.5px 1.5px #0004;
    padding: 12px;
}

#login a>img:hover {
    background: #fff9d7;
}


#credentials {
    font-size: 0.9rem;
    text-align: center;
    background-color: #fff6d7;
    border-radius: 4px;
    padding: 3px;
    margin: 1px;
    margin-bottom: 4px;
}


#quorum {
    font-size: 0.9rem;
    text-align: center;
    background-color: #c5f5bb;
    border-radius: 4px;
    padding: 3px;
    margin: 1px;
    margin-bottom: 4px;
    display: none;
}

footer {
    font-size: 0.8rem;
    text-align: center;
    background-color: #d7eeff99;
    border-radius: 5px;
    padding: 2px;
    margin: 4px auto;
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 5%;
    width: 90%;
}

#sidebar {
    display: inline-block;
    background-color: #353a70;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: calc(100% + 1px);
    color: #fff9;
}

#action_picker {
    background-color: #0001;
    display: block;
    border-bottom: 1px solid #fff7;
    margin: 0px;
    text-indent: 0px;
    text-align: center;
    padding-top: 0px;
    width: 100%;
}

#action_picker ul {
    list-style: none;
    margin: 0px auto;
    padding: 0px;
    display: inline-block;
    width: 100%;
}

#action_picker li {
    background-color: #6e797e;
    color: white;
    border-radius: 3px;
    margin: 4px;
    padding: 4px;
    font-size: 0.8rem;
    font-weight: bold;
    box-shadow: 0 2px #FFF1;
    text-decoration: none;
    display: inline-block;
    width: calc(100% - 20px);
}

#action_picker a {
    color: white;
    text-decoration: none;
}

#action_picker li:hover {
    background-color: #d2e7f1;
    cursor: pointer;
}

#action_picker li[type="active"] {
    background-color: #05c971;
    box-shadow: 0 2px #FFF1;
}

#action_picker li[type="active"]:hover {
    background-color: #08dc7d;
    cursor: pointer;
}




#header {
    text-align: center;
}

#header img {
    width: 320px;
}

#tos {
    min-width: 700px;
    max-width: 900px;
    background: white;
    border-radius: 4px;
    border: 1.5px solid #333;
    margin: 40px auto;
}

#channels > .channel {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: calc(100vh - 450px);
    border: 1px solid #0003;
    border-top: none;
    margin: 0 auto;
    padding: 4px;
    padding-bottom: 20px;
}

.channel {
    overflow-y: scroll;
    max-height: calc(100% - 16px);
    width: 100%;
    background: white;
    display: inline-block;
}

.line {
    min-height: 1.25rem;
    line-height: 1rem;
    margin: 2px;
    padding-left: 16px;
    vertical-align: top;
    margin-bottom: 12px;
    border-bottom: 1px solid #0001;
    background-image: url(/images/user.png);
    background-size: 24px 24px;
    background-position: 2px 2px;
    background-repeat: no-repeat;
}

.line > * {
    vertical-align: top;
}

.line:nth-child(odd) {
    background-color: rgba(236, 243, 250, 0.25);
}

.topic {
    position: relative;
    width: 100%;
    height: 32px;
    background-color: #000B;
    color: #FFF;
    z-index: 5;
    font-size: 0.9rem;
    font-weight: bolder;
    padding: 6px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid #0003;
    margin-bottom: -8px;
}

.timestamp {
    opacity: 60%;
    display: inline-block;
    height: 1.25rem;
    line-height: 1rem;
    font-size: 11px;
    background-image: url(/images/clock.svg);
    background-size: 16px 16px;
    background-position: 2px 2px;
    background-repeat: no-repeat;
    text-indent: 22px;
    padding-top: 2px;
    float: right;
 }

.name {
    opacity: 85%;
    width: 360px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bolder;
    font-size: 0.9rem;
    color: #070719;
    padding: 3px;
    text-indent: 12px;

}

.message {
    width: 100%;
    display: block;
    white-space: pre-wrap;
    position: relative;
    padding: 4px;
    padding-left: 14px;
    font-size: 0.9rem;
    opacity: 80%;
    color: black;
}


.message_off {
    width: 100%;
    display: block;
    white-space: pre-wrap;
    position: relative;
    padding: 4px;
    font-size: 0.95rem;
    border-top: 1px solid #9991;
    color: rebeccapurple;
}


#userlist_wrapper {
    display: inline-block;
    width: calc(100% - 12px);
    border-radius: 6px;
    height: calc(100% - 200px);
    padding: 4px;
    vertical-align: top;
    position: relative;
    margin: 4px;
    overflow-y: auto;
}

#userlist_wrapper h1 {
    font-size: 0.9rem;
    font-weight: bold;
    color: #FFE;
    margin: 0px;
}

#userlist {
    font-size: 0.9rem;
    margin-top: 0;
    margin-left: 4px;
    padding: 10px;
    color: #FFF;
    list-style: none;
}

#userlist li {
    background-image: url(/images/user.png);
    background-size: 14px 14px;
    background-position: 0 4px;
    background-repeat: no-repeat;
    padding-left: 4px;
    text-indent: 16px;
}

#userlist li:nth-child(odd) {
    background-color: #00000005;
}


#main {
    max-width: 95%;
    margin: 0 auto;
    min-height: 400px;
}


input[type="button"] {
    margin: 6px;
    padding: 2px;
    font-size: 0.8rem;
    font-weight: bold;
    vertical-align: top;
    text-decoration: none;
    cursor: pointer;
    display: inline-block !important;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: #0006;
}

.modal-content {
    background-color: #FEFEFE;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 760px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#cpnotif {
    color: white;
    font-size: 1rem;
    background-color: black;
    padding: 20px;
    border-radius: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-top: -30px;
    margin-left: -85px;
    display: block;
    text-align:center;
    transition: opacity 1200ms;
}

.badge-pad {
    margin-left: 6px;
    font-size: 0.6rem;
}

li > span:empty {
    border: none;
    background-color: #0000;
}


/* Shrink UI on mobile */
@media screen and (max-width: 1200px) {
    #userlist_wrapper {
        max-width: 280px !important;
    }
    #userlist a {
        display: none;
    }
    #userlist {
        font-size: 0.825rem;
    }
    #sidebar {
        font-size: 0.9rem !important;
        margin-top: 0px !important;
        padding: 2px;
        display: inline-block;
    }

    #action_picker li {
        font-size: 0.8rem;
    }

    .label {
        font-size: 10px;
        height: 12px;
        min-width: 12px;

    }

    .name {
        font-size: 0.75rem;
        width: 200px;
    }

    .timestamp {
        width: 140px;
    }


    #header > img {
        width: 200px;
    }
}



.tribute-container {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    overflow: auto;
    display: block;
    z-index: 999999;
}
.tribute-container ul {
    margin: 0;
    margin-top: 2px;
    padding: 0;
    list-style: none;
    background: #efefef;
}
.tribute-container li {
    padding: 5px 5px;
    cursor: pointer;
}
.tribute-container li.highlight {
    background: #ddd;
}
.tribute-container li span {
    font-weight: bold;
}
.tribute-container li.no-match {
    cursor: default;
}
.tribute-container .menu-highlighted {
    font-weight: bold;
}


.card {
    background: #fff;
    transition: .5s;
    border: 0;
    margin-bottom: 32px;
    border-radius: .35rem;
    position: relative;
    width: 100%;
    min-height: 600px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}
.chat-app .people-list {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: .35rem;
    padding-bottom: 20px;
    z-index: 7;
}

.chat-app .chat {
    margin-left: 320px;
    border-left: 1px solid #eaeaea;
}

.people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.people-list .chat-list li {
    padding: 10px 15px;
    list-style: none;
    border-radius: 3px
}

.people-list .chat-list li:hover {
    background: #efefef;
    cursor: pointer
}

.people-list .chat-list li.active {
    background: #efefef
}

.people-list .chat-list li .name {
    font-size: 15px
}

.people-list .chat-list img {
    width: 45px;
    border-radius: 50%
}

.people-list img {
    float: left;
    border-radius: 50%
}

.people-list .about {
    float: left;
    padding-left: 8px
}

.people-list .status {
    color: #999;
    font-size: 13px
}

.chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #f4f7f6
}

.chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px
}

.chat .chat-history {
    padding: 20px;
    border-bottom: 2px solid #fff
}

.chat .chat-history ul {
    padding: 0
}

.chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px
}

.chat .chat-history ul li:last-child {
    margin-bottom: 0px
}

.chat .chat-history .message-data {
    margin-bottom: 15px
}

.chat .chat-history .message-data img {
    border-radius: 40px;
    width: 40px
}

.chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px
}

.chat .chat-history .my-message {
    background: #efefef
}

.chat .chat-history .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .other-message {
    background: #e8f1f3;
    text-align: right
}

.chat .chat-history .other-message:after {
    border-bottom-color: #e8f1f3;
    left: 93%
}

.chat .chat-message {
    padding: 20px
}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}

.online {
    color: #86c541
}

.offline {
    color: #e47297
}

.me {
    color: #1d8ecd
}

.float-right {
    float: right
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

@media only screen and (max-width: 767px) {
    .chat-app .people-list {
        height: 465px;
        width: 100%;
        overflow-x: auto;
        background: #fff;
        left: -400px;
        display: none
    }
    .chat-app .people-list.open {
        left: 0
    }
    .chat-app .chat {
        margin: 0
    }
    .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0
    }
    .chat-app .chat-history {
        height: 300px;
        overflow-x: auto
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat-app .chat-list {
        height: 650px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: 600px;
        overflow-x: auto
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .chat-app .chat-list {
        height: 480px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: calc(100vh - 200px);
        overflow-x: auto
    }
}